<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
 id="WebApp_ID" version="3.1">
 <servlet>  
    <description></description>  
    <display-name>LoginServlet</display-name>  
    <servlet-name>LoginServlet</servlet-name>  
    <servlet-class>servlets.LoginServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LoginServlet</servlet-name>  
    <url-pattern>/LoginServlet</url-pattern>  
  </servlet-mapping>  
  <servlet>  
    <description></description>  
    <display-name>Disconnected</display-name>  
    <servlet-name>Disconnected</servlet-name>  
    <servlet-class>servlets.Disconnected</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Disconnected</servlet-name>  
    <url-pattern>/Disconnected</url-pattern>  
  </servlet-mapping>  
   <servlet>  
    <description></description>  
    <display-name>Trainings</display-name>  
    <servlet-name>Trainings</servlet-name>  
    <servlet-class>servlets.Trainings</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Trainings</servlet-name>  
    <url-pattern>/Trainings</url-pattern>  
  </servlet-mapping>  
 <listener>
        <listener-class>servlets.SessionListener</listener-class>
    </listener>
</web-app>